{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        {% for book in books %}
            <div class="row">
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
        {% if prev_page %}
        <a href="{% url "books" date=prev_page %}"> < {{ prev_page }}</a>
        {% endif %}
        {% if next_page %}
        <a style="margin-left: 50px" href="{% url "books" date=next_page %}"> {{ next_page }} ></a>
        {% endif %}
    </div>
{% endblock %}